*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.productsHeader{

  padding-left :1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.productsMain {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

/* productos ocupa más ancho que el resumen */
.products {
  flex: 3;
}
.cardItemHeader{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 1rem;
    border-bottom: 2px solid #444343;
    background-color: #302f2f;
    color:white;
    font-weight: bold;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;
  border-bottom: 1px solid #444343;
  background-color: #ccc;
}
.cartItem:nth-child(odd) {
    background-color: #ffffff; 
}
/*reorg*/
.cardItemHeader,
.cartItem {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr; /* Producto / Cantidad / Unidad / Total */
  column-gap: 1rem;
  align-items: center;
}

.cartItemQty,
.cartItemQtyHeader,
.cartItemUnitPrice,
.cartItemTotal {
  text-align: center;
}
.cartItemQty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.cartItemCount {
  min-width: 3rem;
  text-align: center;
}
/**/
.cartItemBtn {
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgb(55, 240, 86);
    border-radius: 0.5rem;
    font-weight:bold
}
.cartItemBtn:disabled {
    background-color: rgb(231, 80, 34);
    cursor: not-allowed;
}
.cartItemCount {
    border: 1px solid #444343;
    padding: 1rem 1rem;
    background: white
}
.productsSummary {
  margin: 1rem 1rem;
  flex: 1;
  gap: 2rem;
}
.productsSummary li{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}
.summaryFooter{
    display:flex;
    justify-content: space-between;
    border-top:1px solid #444343;
    padding-top: 1rem;
    margin-top: 1rem;
    text-align: left;
    font-weight: bold;

}


