*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px; 
}

footer{
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
    height: 3rem;;
}
.note-code{
    background-color: beige;
    border: 1px solid rgb(39, 32, 32);
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;}


a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: rgb(114, 43, 43);
    text-decoration: underline;
    font-weight: bolder;
}
.mainNavMenu{
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;

}
.mainNavMenu li{
    margin: 3em;
    list-style: none;
}
section{
    margin: 2rem;
}
article{
    margin: 2rem   ;
}
article ul{
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
article ol{
margin-left: 4rem;
margin-top: 1rem;
margin-bottom: 1rem;
}
code{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    border: 1px solif rgb(39, 32, 32) ;
    background-color: beige;
}
/*estilos de flexbox*/
 .container0 {  
    display: flex;  
    justify-content: space-around;  
    align-items: center;  
}  
.item0 {  
    border: 1px solid rgb(189, 100, 100);
    background-color: lightcoral;  
    padding: 20px;  
    text-align: center;  
}
/*otros estilos flexbox*/
.example-flexbox{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
}
.container {
      display: flex;
      margin-bottom: 10px;
      border: 2px solid #333;
      padding: 8px;
      gap: 10px;
    }
    .item {
      border: 1px solid #3183a8;
      background: #3fa7d6;
      color: #fff;
      padding: 10px 0;
      text-align: center;
      min-width: 60px;
      border-radius: 4px;
      flex: 1;
    }
    /* Otras variantes para ejemplos */
    .row { flex-direction: row; }
    .col { flex-direction: column; height: 180px; }
    .sb { justify-content: space-between; }
    .center { justify-content: center; }
    .wrap { flex-wrap: wrap; max-width: 250px;}
    .align-center { align-items: center; height: 90px;}
    .grow .item:nth-child(2) { flex-grow: 2; background: #49be25;}
/*fin*/
/*estilos de grid*/
.container-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.item-grid { 
    border: 1px solid #3183a8;
    background-color: lightblue; 
    padding: 20px; 
    text-align: center; 
}