*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
}
/*estilos de flexbox*/
.container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.item { 
    background-color: lightblue; 
    padding: 20px; 
    text-align: center; 
}